# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Docker
*.pid

# IntelliJ + Maven annotations
.apt_generated/
.apt_generated_test/
